<div class="container">
  <div class="row border border-dark">
    <div class="col border border-dark bg-dark" id="comment-post">
      FOR DISPLAY ONLY
    </div>
    <div class="text-left">{{body}}</div>
  </div>
</div>