<div>
  <h2>Welcome, {{name}}</h2>
  <form class="form project-form">
    <div class="form-group">
      <label for="project-name">project name:</label>
      <input class="form-input" type="text" id="project-name" />
    </div>
    <div class="form-group">
      <label for="project-funding">needed funding $:</label>
      <input class="form-input" type="text" id="project-funding" />
    </div>
    <div class="form-group">
      <label for="project-description">description:</label>
      <input class="form-input" type="text" id="project-description" />
    </div>
  </form>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</div>
<script src="./js/profile.js"></script>