<div>
  <h2>Create New Post</h2>
  <form class="form project-form">
    <div class="form-group">
      <label for="project-name">Title:</label>
      <input class="form-input" type="text" id="project-name" />
    </div>
    </div>
    <div class="form-group">
      <label for="project-description">Content:</label>
      <input class="form-input" type="text" id="project-description" />
    </div>
  </form>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</div>
<script src="./js/profile.js"></script>