<div>
  <h2>Create New Post</h2>
  <form class="form post-form">
    <div class="form-group">
      <label for="post-name">Title:</label>
      <input class="form-input" type="text" id="post-name" />
    </div>
    </div>
    <div class="form-group">
      <label for="post-description">Content:</label>
      <input class="form-input" type="text" id="post-description" />
    </div>
    <div class="form-group">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
  </form>
</div>
<script src="/js/newpost.js"></script>