<div>
    <h2>
      <span>{{title}}</span>
        <span>Posted by {{user.username}} {{date_created}}  </span>
    </h2>
        <div>{{body}}</div>
    {{#if logged_in}}
  <div>
      <form class="form comment-form">
        <div class="form-group">
          <label for="post-comment">Comment</label>
          <input class="form-input" type="text" id="post-coment" />
          <div class="form-group">
            <button class="btn btn-secondary" type="submit">Submit</button>
          </div>
      </form>
    </div>
    {{/if}}
  </p>
</div>
