<form class="signup-form m-2">
  <div class="row border border-dark">
    <div class="col border border-dark bg-dark text-white">Sign up
    </div>
    <div class="mb-3">
      <label for="username-signup" class="form-label">Username</label>
      <input type="text" class="form-control" id="username-signup" />
    </div>
    <div class="mb-3">
      <label for="password-signup" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-signup" />
    </div>
    <div class="form-group mb-3">
      <button type="submit" class="btn btn-secondary w-100">Sign up</button>
    </div>
    <div class="form-group">
      <a href="/login">Login instead</a>
    </div>
  </div>
</form>

<script src="/js/signup.js"></script>

{{! Old codes }}
{{! <div class="login-card">
  <h2 class="page-title">Signup</h2>
  <form class="form signup-form">
    <div class="form-group">
      <label for="username-signup">Username:</label>
      <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">signup</button>
    </div>
    <div class="form-group">
      <a href="/login">Login instead</a>
    </div>
  </form>
</div> }}