<form class="update-form m-2">
  <div class="row border border-dark">
    <div class="col border border-dark bg-dark text-white">Edit Post
    </div>
   <div class="mb-3">
    <label for="update-title" class="form-label">Titile</label>
    <input
      type="text"
      class="form-control"
      id="update-title"
      value="{{title}}"
    />
  </div>
  <div class="mb-3">
    <label for="update-post" class="form-label">Content</label>
    <input type="text" class="form-control form-control-lg" id="update-post" />
  </div>
  <div class="form-group mb-3">
    <button type="submit" class="btn btn-secondary w-100">Update Post</button>
  </div>
  {{! Need to find out if this needs to be inside forms }}
  <div class="mb-3">
    <button
      type="button"
      class="btn btn-secondary w-100"
      data-id="{{post.id}}"
      id="delete-btn"
    >Delete Post</button>
  </div>
</form>