<div>{{#each posts}}
    <div class="row align-center mb-5">
      <div class="col-md-6">
        <h2><a href="/post/{{id}}">
            <span>{{posts}}</span>
            <span>{{date_created}}</span></a></h2>
      </div>
    </div>
  {{/each}}
</div>